#profileimg{
	height: 15%;
}

#userscreen{
  color: black;
  /* float: left; */
  left: 107px;
  top: 3%;
  position: absolute;
  font-size: 22pt;
}

#username{
  /*color: rgb(126, 126, 126);*/
  color:black;
  /* float: left; */
  left: 1%;
  top: 5px;
  position: relative;
  font-size: 13pt;
  display: initial;
}

#profileData{
  color: black;
  position: relative;
  top: 29%;
  left: 10%;
  width: 90%;
  overflow: hidden;
}

#tweetData{
  color: black;
  top: 36%;
  position: relative;
  left: 10%;
  font-size: 20pt;
  word-wrap: break-word;
  width: 550px;
}

#contenedorTweet{
	border:2px black;
	width: 640px;
	height: 640px;
	background-color: grey;
	word-wrap: break-word;
}

#tweet{
	word-wrap: break-word;
}